.guarantor {
  width: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  margin: auto;
}

.guarantor h1 {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.guarantor p {
  width: 666px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.guarantor input,
.guarantor select {
  width: 350px;
  height: 50px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #444444;
  border-radius: 4px;
}

.guarantor form div {
  width: min-content;
  margin: 0 30px;
}

.guarantor-btn,
.guarantor-btn.prev:hover {
  width: 320px;
  height: 60px;
  background: #0D9068;
  border-radius: 55px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

.guarantor-btn:hover {
  background-color: #ffffff;
  color: #0D9068;
  border: 2px solid #0D9068;
}

.guarantor-btn.prev {
  background-color: #ffffff;
  color: #0D9068;
  border: 2px solid #0D9068;
}

.guarantor-content .modal {
  z-index: 999;
}

.guarantor-content .modal-base {
  top: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: auto;
  width: 800px;
  height: 350px;
  border-radius: 22px; */
  opacity: 0;
  /* -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8); */
}



.guarantor-content .modal-base_after-open {
  opacity: 1;
  transform: scale(1);
}

.guarantor-content .modal-base_before-close {
  transform: scale(.2);
  opacity: 0;
}

.guarantor-content .overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 18, 18, 0.75);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.guarantor-content .overlay-base_after-open {
  opacity: 1;
}

.guarantor-content .overlay-base_before-close {
  opacity: 0;
}