.loan-form {
    flex: 8;
}

.loan-form h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    color: #0D9068;
}

.loan-form .card {
    width: 250px;
    background: rgba(13, 144, 104, 0.25);
    border-radius: 12px;
    margin: auto 8px;
    padding: 5px;
}

.loan-form input,
.loan-form input:hover,
.loan-form input:focus {

    width: auto;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
    color: #E98923;
    background-color: transparent;
}

.loan-form .card p {
    font-size: 20px;
    text-align: center;

    color: #444444;
}

.loan-form .card input::placeholder {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #E98923
}

.loan-form .card input::-webkit-outer-spin-button,
.loan-form .card input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loan-form .eye-icon {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

.loan-form .card p:last-child {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #444444;
}

.loan-form p .note {
    font-weight: 400;
    font-size: 13px;
    color: #444444;

}

.loan-input-form input,
.loan-input-form select,
.loan-input-form input:hover {
    height: 60px;
    width: 365px;
    border: 1px solid #909090;
    border-radius: 6px;
    margin: 15px auto;
    padding: 10px;
}

.loan-input-form input::placeholder,
.loan-input-form select option {
    font-size: 14px;
    color: #444444;
}

.loan-input-form input::-webkit-outer-spin-button,
.loan-input-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loan-form .next-btn {
    width: 180px;
    height: 45px;
    background: #FB9129;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
}

.loan-form .modal {
    z-index: 999;
}

.loan-form .modal-base {
    top: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    width: 800px;
    height: 400px;
    border-radius: 22px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}



.loan-form .modal-base_after-open {
    opacity: 1;
    transform: scale(1);
}

.loan-form .modal-base_before-close {
    transform: scale(.2);
    opacity: 0;
}

.loan-form .overlay-base {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(19, 18, 18, 0.75);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loan-form .overlay-base_after-open {
    opacity: 1;
}

.loan-form .overlay-base_before-close {
    opacity: 0;
}